<%- include('includes/header.ejs') %>
  </head>
  <body class="d-flex flex-column h-100">
    <%- include('includes/navigation.ejs') %>

    <!-- Begin page content -->
    <main class="flex-shrink-0">
      <div class="container">
        <h1 class="mt-5">Tada! Profile page</h1>
        <p class="lead">
          Your users need a place to see all their account info.  This is that place!
        </p>
        <p>Logged in user: <%= user.email %></p>
      </div>
    </main>

    <%- include('includes/footer.ejs') %>

    <script src="/bootstrap/js/bootstrap.bundle.js"></script>
    <%- include('includes/end.ejs') %>