<%- include('includes/header.ejs') %>
  </head>
  <body class="d-flex flex-column h-100">
    <%- include('includes/navigation.ejs') %>
    <!-- Begin page content -->
    <main class="flex-shrink-0">
      <div class="container">
        <div class="row align-items-center g-lg-5 py-5">
          <div class="col-md-10 mx-auto col-lg-5">
            <form
              class="p-4 p-md-5 border rounded-3 bg-light"
              action="/resend"
              method="POST"
            >
              <% if (errorMessage){ %>

              <span
                id="invalidEmailOrPassword"
                class="custom-invalid"
                ><%= errorMessage %></span
              >

              <% } %>
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <div class="form-floating mb-3">
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="name@example.com"
                  required
                />
                <label for="email">Email address</label>
              </div>
              <button class="w-100 btn btn-lg btn-primary" type="submit">
                Resend
              </button>
              <hr class="my-4" />
              A new code will be emailed to you.
            </form>
          </div>
        </div>
      </div>
    </main>
    <%- include('includes/footer.ejs') %>

    <script src="/bootstrap/js/bootstrap.bundle.js"></script>
    <%- include('includes/end.ejs') %>